.main-banner {
  @apply w-full;

  &.small-banner {
    min-height: 30vh;
    @screen md {
      min-height: 50vh;
    }
  }
  &.large-banner {
    min-height: 75vh;
  }

  &.wave {
    clip-path: url(#hero-wave);
    @apply -mb-6;
  }
}