body {
  @apply text-base font-body text-secondary;
}

.carousel-dots {
  @apply flex flex-row justify-center items-center;

  .carousel-dot {
    @apply w-2 h-2 block bg-gray-700 opacity-20 rounded-full;

    &:not(:last-of-type) {
      @apply mr-3;
    }

    &.is-active {
      @apply opacity-100;
    }
  }
}

//this adds a descending z-index so the wave cut outs work
@mixin descending-z-index($count: 30){
  section {
    position: relative;
    $target: 0;
    $index: $count;
    @while $index > 0 {
      &:nth-child(#{$target}){ z-index: #{$index}; }
      $target: $target + 1;
      $index: $index - 1;
    }
  }
}

main {
  @include descending-z-index;
}