.whr-group  {
  @apply text-blue font-medium;

  @screen md {
    @apply text-lg;
  }
}
.whr-items {
  display: block !important; //needed to show the items list
  @apply mb-6;

  @screen md {
    @apply text-xl;
  }
}
.whr-item {
  @apply border-b border-gray-400 py-4 relative pr-16;
  &:after {
    @apply absolute right-0 pointer-events-none;

    content: url("../../images/icons/circle-arrow.svg");
    width: 50px;
    height: 50px;
    top: calc(50% - 25px);
  }

  @screen md {
    @apply ml-8;
  }

}

.whr-title {
  @apply text-blue-600 font-medium text-2xl;
  margin: 2rem 0;
  line-height: 1;

  @screen md {
    line-height: 2.25;
  }

  &:hover {
    @apply underline;
  }

  a {
    @apply w-full h-full top-0 absolute;
    padding-right: 60px;
  }
}

.whr-location {
  @apply text-blue font-semibold text-xs;
}

.whr-date,
.whr-location span {
  @apply hidden
}
